[user]
	name = John P Mayer Jr
	email = john.p.mayer.jr@gmail.com
[push]
	default = matching
[core]
	excludesfile = /Users/johnmayer1/.gitignore_global
[alias]
  fcc = !git fetch --all && git checkout origin/master && git checkout -B master
  rom = !git fetch --all && git rebase origin/master
